# Don't check the contents of these folders into VCS. We're still interested in
# checking the actual folder into VCS for documentation purposes, which is why
# we don't outright ignore the folders themselves.
build/**
packages/**

# Make sure that .gitkeep files in even ignored directories are checked into
# VCS.
!**/.gitkeep

# Make sure that EXEs and DLLs from libraries are checked into VCS. This is in
# case they're ignored globally.
!lib/**/*.exe
!lib/**/*.dll

# Ignore DNX project dependency lock files by default. If you're interested in
# collaborating with multiple authors on your project then you may not want to
# ignore the lock files.
project.lock.json

# Ignore common IDE user preferences and whatnot. This is by default limited to
# IDE integrations described in the project wiki; you may want to add additional
# ignores if authors on your project use different IDEs.
.settings
.atom-build.json
